<header>
    <nav>
        <a href="home.html">home</a>
        <a href="contact.html">contact</a>
    </nav>
</header>
<main>
    <h1> an html project</h1>
    <p>
        im learning html. this is the first
        stwp to being a fullstack developer
        by the end of the week i will have
        build my first fullstack application
    </p>
    <p>
        my fav search enfine is
        <a href="https://duckduckgo.com">duckduckgo</a>
    </p>
    <div>
        <div>box1</div>
        <div>box2</div>
        <div>box3</div>
        <div>box4</div>
    </div>
</main>
<footer>
    <div>copyright 1982 by me</div>
    <div>I like pie</div>
</footer>
